**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/test.idx
**/target
**/build
**/Debug
**/obj
**/.vs
**/index_data
**/__pycache__
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**
*.log
*.zip
Cargo.lock
*DB/
**/temp/
**/cache/
**/benchmark/
**/dataset/
target/
build/
dist/
data/
lib/
venv/
node_modules/
*.egg-info
__pycache__/
*.hdf5
download
*.hdf5
*.db
install_dependency_dev.sh
.env
Dockerfile_dev
package-lock.json
